$base-font-size: 16px;
$base-line-height: 24px;
$round-to-nearest-half-line: true;

//Columns
$columns-xsmall: 2;
$columns-small: 4;
$columns-medium: 8;
$columns-large: 12;
$columns-xlarge: 16;

$columns-container: $columns-large;

$column-width: 80px;
$gutter-width: 20px;

$outer-padding: $base-font-size;

$susy: (
  global-box-sizing: border-box,
  columns: $columns-small,
  gutters: $gutter-width / $column-width,
  column-width: $column-width
  );


$breakpoint-xsmall: container($columns-xsmall static);
$breakpoint-small: container($columns-small static);
$breakpoint-medium: container($columns-medium static);
$breakpoint-large: container($columns-large static);
$breakpoint-xlarge: container($columns-xlarge static);


//COLORS
$color-yellow: #f2b632;
$color-grey-light: #b5b5b7;
$color-grey: #677077;
$color-grey-dark: #242424;
$color-blue: #252839;
$color-white: #fff;

$theme-banner-background: $color-yellow;
$theme-banner-color: $color-blue;
$theme-body-background: $color-white;
$theme-border-color: $color-yellow;
$theme-footer-background: $color-blue;
$theme-footer-color: $color-grey-light;
$theme-navigation-background: $color-blue;
$theme-navigation-link: $color-white;
$theme-navigation-link-accent: $color-yellow;
$theme-text-color: $color-white;


// Uses the `rem` unit for all vertical rhythm output
$rhythm-unit: "em";

// Sets different font families for us with
$body-font:'Lato';
$header-font:'Lato';
$code-font:'Lato';

$transition-duration: 0.25s;


//Height
$height-banner: 20em;
$height-header: 5em;
$height-footer: 10em;


$type-scale: (
h1: (
  font-size: 39.063px,
  base-lines: 1.75
  ),
h2: (
  font-size: 31.25px,
  base-lines: 1.5
  ),
h3: (
  font-size: 25px,
  base-lines: 1.25
  ),
h4: (
  font-size: 20px,
  base-lines: 1
  ),
h5: (
  font-size: 12.8px,
  base-lines: 0.75
  ),
h6: (
  font-size: 10.24px,
  base-lines: 0.5
  ),
base: (
 font-size: $base-font-size,
 base-lines: 1
 ),
);
