// ==========
// LAYOUTS
// -----
// This document is supposed to hold all your layouts for your website.
// It also contains a $contexts map to hold all different contexts that
// you might require.
//
// As you write your spans, merge the current context into the $contexts
// map so you can easily get the context out whenever you need it to.
//
// I've also provided an example of how to do this.
// ==========

// Creates a context map
$contexts: () !default;

.inner {
  @include container($columns-container);
  padding-left: 10px;
  padding-right: 10px;
}

// Let's say you have these elements:
// - content - takes up 8 of 12 columns
// - sidebar - takes up 4 of 12 columns
// - gallery-item - takes up 4 of 8 columns, parent is content
// Check out Chapter 15 for a refresher of the demo

.content {
  // 8 columns of 12 columns
  @extend %cf;
  min-height: 25em;
  border-left: 1px solid $color-grey-dark;
  @include outer-padding;

  @include breakpoint-medium {
  	@include span(6 last);
  }

  @include breakpoint-large {
  	@include span(8 last);
  }

  @include breakpoint-xlarge {
  	@include span(12 last);
 }
}

.no-sidebar {
 	.content {
 		width: 100%;
 		border-left: none;
 	}
 }

.sidebar {
	@include outer-padding;

	@include breakpoint-medium {
		@include span(2);
	}

	@include breakpoint-large {
		@include span(4);
	}

	@include breakpoint-xlarge {
		@include span(4);
	}

}

// Parent = content
// File =
.gallery-item {
  // 4 columns of 8 columns

}