.footer {
	min-height: $height-footer;
	background-color: $theme-footer-background;
	padding: 2em;
	border-top: rhythm(0.25) solid $color-yellow;
	@extends %cf;

	&__social-links {
		vertical-align: middle;
		text-align: center;

		h4 {
			color: $color-yellow;
		}

		a {
			color: $color-yellow;
			vertical-align: middle;
			transition: all $transition-duration;
			margin-right: 0.5em;

			&:hover {
				color: $color-white;
			}
		}

		@include breakpoint-medium() {
			@include span(2 last);
			padding-top: rhythm(0.5);
		}

	}

	&__about {
		width: 100%;

		@include breakpoint-medium {
			@include span(6);
		}

		@include breakpoint($breakpoint-medium) {

		}

		img {
			float: left;
			border-radius: 100%;
			margin-right: 2em;
			@include box-shadow(0px, 0px, 15px, rgba(0, 0, 0, 0.7));

			@include breakpoint(max-width $breakpoint-medium) {
				float: none;
				text-align: center;
				display: block;
				margin: 0 auto;
			}
		}

		p {
			color: $color-yellow;
			font-size: rhythm();
			padding: rhythm() 0;
			vertical-align: middle;


			@include breakpoint(max-width $breakpoint-medium) {
				padding: rhythm(0.5) 0;
				text-align: center;
				font-size: 16px;
			}
		}
	}

}