.header {
	@extend %cf;
	height: $height-header;
	background-color: $theme-navigation-background;

    .inner {
        padding-left: 0;
        padding-right: 0;
    }

	.brand {
		float: left;
		height: $height-header;

		&__image {
		    background-image: url('../../images/logo.png');
			background-repeat: no-repeat;
			background-size: contain;
			width: $height-header;
			height: $height-header;
			display: inline-block;
		}
		a {
			text-decoration: none;
			color: $color-yellow;
		}
	}

    @include breakpoint(40em) {

        .search-bar {
		display: none;
		width: 20em;
		position: fixed;
		top: $height-header;

		form {
			width: 100%;

			input.action {
				position: absolute;
				right: 0px;
				top: 8px;
				background: transparent;
				color: $color-blue;
				font-family: 'WebSymbolsRegular';
			}

			fieldset {
				border: none;
			}
		    }
	    }

        .search-dropdown-icon {
		    color: $color-white;
		    padding: 0 0.5em;
		    cursor: pointer;
	    }

    }

    @include breakpoint(max-width 40em) {
        .search-bar {
            display: block !important;
		        form {
			        width: 100%;

			        input.action {
				        background: transparent;
                        position: absolute;
                        right: 0px;
                        top: 8px;
				        font-family: 'WebSymbolsRegular';
                        color: $color-yellow;
			        }

			        fieldset {
				        border: none;
                        position: relative;
			        }

		        }
	        }

        .search-dropdown-icon {
		    display: none;
	   }

    }

	


}