.navigation--primary {

    @include breakpoint(40em) {
          float: right;
          height: $height-header;
          position: relative;

          ul {
  	        display: block;
  	        list-style: none;
            height: 100%;


  	        li {
  	          display: inline-block;
              padding-top: rhythm(1.25);
              padding-left: rhythm(0.5);
              padding-right: rhythm(0.5);
              text-align: center;
              width: auto;
              height: 100%;
              transition: all 0.5s;
              border-bottom: none; 
              color: $theme-navigation-link;
              font-weight: bold;
              text-decoration: none;
              border-bottom: rhythm(0.25) solid $theme-navigation-background;

              &:hover {
                border-bottom: rhythm(0.25) solid $theme-border-color;
                color: $theme-navigation-link-accent;
              }
  	        }

            .current {
              color: $theme-navigation-link-accent;
              border-bottom: rhythm(0.25) solid $theme-border-color;
            }
          }
    }

    @include breakpoint(max-width 40em) {
        background-color: $color-grey-dark;
        width: 100%;

        ul {
            width: 100%;
            padding: 1em;
            text-align: center;

            li {
                padding: 0.5em;
            }
        }

        a {
            text-decoration: none;
            color: $color-white;

            &:hover {
                color: $theme-navigation-link-accent;
            }

            .current {
                color: $theme-navigation-link-accent;
            }
        }

    }

}

.navigation--sidebar {
  a {
    text-decoration: none;
    color: $color-blue;
    font-weight: bold;
    transition: all $transition-duration;

    &:hover {
      color: $theme-navigation-link-accent;
    }
  }

  .current {
    color: $theme-navigation-link-accent;
  }

}