﻿	.projects {
		padding: 2em 0;
		background-color: $color-blue;

		h1 {
			color: $color-yellow;
			text-align: center;
			font-size: 40px;
			padding-bottom: 1em;
		}


		&__project {
			background-color: $color-grey-dark;
			margin-bottom: 1em;
			//height: 15em;
			color: $theme-text-color;

			i {
				color: $color-yellow;
			}


			&__header {
				background-color: $color-yellow;

				img {
					width: 50px;
					display: inline-block;
				}

				&__title {
					display: inline-block;
					max-width: 75%;
					font-size: 1.25em;
					color: $color-blue;
					font-weight: bold;
					vertical-align: top;
					padding-top: 1em;
					text-decoration: none;
					transition: all $transition-duration;


					&:hover {
						color: $color-white;
					}
				}
			}

			&__content {
				height: 10em;

				padding: rhythm(0.25) rhythm(0.5);

                &__languages,
                &__tags {

                    a {
                        color: $color-white;
                        transition: all $transition-duration;
                        text-decoration: none;
                        border-bottom: 1px dotted $color-white;

                        &:hover {
                            color: $color-yellow;
                        }
                        }

                }


				&__description {

				}

				&__languages {

				}

				&__status {

				}
			}

			&__footer {
				height: 2.5em;
				border-top: 1px dashed $color-yellow;
				padding: 0 rhythm(0.5);
				font-size: 12px;

			}

			&:nth-child(2n) {
				@include breakpoint($breakpoint-medium $breakpoint-large) {
					@include last;
				}
			}

			@include breakpoint-medium {
				@include span(4);
			}

			@include breakpoint-large {
				@include span(3);

				&:nth-child(4n) {
					@include last;
				}

			}

		}
	}