﻿table {
    width: 100%;
    color: $color-white;
    overflow: auto;

    @include rounded(2em);

    a {
        color: $color-white;
        transition: all $transition-duration;

        &:hover {
            color: $color-yellow;
        }
    }

    tr {
        th {
            padding: 0.5em 1em;
        }

        td {
            padding: 0.5em 1em;
        }

    }



    thead {
        text-align: left;
        color: $color-yellow;
        background-color: $color-blue;



    }

    tbody {

        tr {
            background-color: $color-grey-dark;
            border-bottom: 1px solid $color-yellow;
            
            &:nth-child(2n) {
                background-color: $color-grey-dark;
            }


        }


        
    }
}