/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  -webkit-backface-visibility: hidden; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0; }

input,
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: 0;
  border: 0; }
  input:hover, input:active, input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:hover,
  button:active,
  button:focus {
    outline: 0;
    border: 0; }

embed,
iframe,
img,
object,
video {
  max-width: 100%; }

img {
  height: auto;
  width: auto;
  /* IE8 */ }

.content:after, .header:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("../fonts/websymbols-regular-webfont.eot");
  src: url("../fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../webfonts/websymbols-regular-webfont.woff") format("woff"), url("../webfonts/websymbols-regular-webfont.ttf") format("truetype"), url("../webfonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.44144em;
  line-height: 1.07519em; }

h2 {
  font-size: 1.95313em;
  line-height: 1.152em; }

h3 {
  font-size: 1.5625em;
  line-height: 1.2em; }

h4 {
  font-size: 1.25em;
  line-height: 1.2em; }

h5 {
  font-size: 0.8em;
  line-height: 1.40625em; }

h6 {
  font-size: 0.64em;
  line-height: 1.17188em; }

pre,
code {
  font-size: 1em;
  line-height: 1.5em; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

pre {
  white-space: pre; }

code {
  overflow: hidden; }

html {
  font-size: 100%;
  line-height: 1.5em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, ul, ol, p {
  margin: 0;
  padding: 0;
  padding-top: 0.375em; }

.inner {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .inner:after {
    content: " ";
    display: block;
    clear: both; }

.content {
  min-height: 25em;
  border-left: 1px solid #242424;
  padding: 16px; }
  @media (min-width: 780px) {
    .content {
      width: 74.35897%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 1180px) {
    .content {
      width: 66.10169%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 1580px) {
    .content {
      width: 74.68354%;
      float: right;
      margin-right: 0; } }

.no-sidebar .content {
  width: 100%;
  border-left: none; }

.sidebar {
  padding: 16px; }
  @media (min-width: 780px) {
    .sidebar {
      width: 23.07692%;
      float: left;
      margin-right: 2.5641%; } }
  @media (min-width: 1180px) {
    .sidebar {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; } }
  @media (min-width: 1580px) {
    .sidebar {
      width: 24.05063%;
      float: left;
      margin-right: 1.26582%; } }

.header {
  height: 5em;
  background-color: #252839; }
  .header .inner {
    padding-left: 0;
    padding-right: 0; }
  .header .brand {
    float: left;
    height: 5em; }
    .header .brand__image {
      background-image: url("../../images/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 5em;
      height: 5em;
      display: inline-block; }
    .header .brand a {
      text-decoration: none;
      color: #f2b632; }
  @media (min-width: 40em) {
    .header .search-bar {
      display: none;
      width: 20em;
      position: fixed;
      top: 5em; }
      .header .search-bar form {
        width: 100%; }
        .header .search-bar form input.action {
          position: absolute;
          right: 0px;
          top: 8px;
          background: transparent;
          color: #252839;
          font-family: 'WebSymbolsRegular'; }
        .header .search-bar form fieldset {
          border: none; }
    .header .search-dropdown-icon {
      color: #fff;
      padding: 0 0.5em;
      cursor: pointer; } }
  @media (max-width: 40em) {
    .header .search-bar {
      display: block !important; }
      .header .search-bar form {
        width: 100%; }
        .header .search-bar form input.action {
          background: transparent;
          position: absolute;
          right: 0px;
          top: 8px;
          font-family: 'WebSymbolsRegular';
          color: #f2b632; }
        .header .search-bar form fieldset {
          border: none;
          position: relative; }
    .header .search-dropdown-icon {
      display: none; } }

@media (min-width: 40em) {
  .navigation--primary {
    float: right;
    height: 5em;
    position: relative; }
    .navigation--primary ul {
      display: block;
      list-style: none;
      height: 100%; }
      .navigation--primary ul li {
        display: inline-block;
        padding-top: 1.875em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        text-align: center;
        width: auto;
        height: 100%;
        transition: all 0.5s;
        border-bottom: none;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        border-bottom: 0.375em solid #252839; }
        .navigation--primary ul li:hover {
          border-bottom: 0.375em solid #f2b632;
          color: #f2b632; }
      .navigation--primary ul .current {
        color: #f2b632;
        border-bottom: 0.375em solid #f2b632; } }
@media (max-width: 40em) {
  .navigation--primary {
    background-color: #242424;
    width: 100%; }
    .navigation--primary ul {
      width: 100%;
      padding: 1em;
      text-align: center; }
      .navigation--primary ul li {
        padding: 0.5em; }
    .navigation--primary a {
      text-decoration: none;
      color: #fff; }
      .navigation--primary a:hover {
        color: #f2b632; }
      .navigation--primary a .current {
        color: #f2b632; } }

.navigation--sidebar a {
  text-decoration: none;
  color: #252839;
  font-weight: bold;
  transition: all 0.25s; }
  .navigation--sidebar a:hover {
    color: #f2b632; }
.navigation--sidebar .current {
  color: #f2b632; }

.footer {
  min-height: 10em;
  background-color: #252839;
  padding: 2em;
  border-top: 0.375em solid #f2b632;
  @extends %cf; }
  .footer__social-links {
    vertical-align: middle;
    text-align: center; }
    .footer__social-links h4 {
      color: #f2b632; }
    .footer__social-links a {
      color: #f2b632;
      vertical-align: middle;
      transition: all 0.25s;
      margin-right: 0.5em; }
      .footer__social-links a:hover {
        color: #fff; }
    @media (min-width: 780px) {
      .footer__social-links {
        width: 23.07692%;
        float: right;
        margin-right: 0;
        padding-top: 0.75em; } }
  .footer__about {
    width: 100%; }
    @media (min-width: 780px) {
      .footer__about {
        width: 74.35897%;
        float: left;
        margin-right: 2.5641%; } }
    .footer__about img {
      float: left;
      border-radius: 100%;
      margin-right: 2em;
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); }
      @media (max-width: 780px) {
        .footer__about img {
          float: none;
          text-align: center;
          display: block;
          margin: 0 auto; } }
    .footer__about p {
      color: #f2b632;
      font-size: 1.5em;
      padding: 1.5em 0;
      vertical-align: middle; }
      @media (max-width: 780px) {
        .footer__about p {
          padding: 0.75em 0;
          text-align: center;
          font-size: 16px; } }

.banner {
  height: 4.5em;
  background-color: #f2b632; }

.content {
  min-height: 35em; }

.projects {
  padding: 2em 0;
  background-color: #252839; }
  .projects h1 {
    color: #f2b632;
    text-align: center;
    font-size: 40px;
    padding-bottom: 1em; }
  .projects__project {
    background-color: #242424;
    margin-bottom: 1em;
    color: #fff; }
    .projects__project i {
      color: #f2b632; }
    .projects__project__header {
      background-color: #f2b632; }
      .projects__project__header img {
        width: 50px;
        display: inline-block; }
      .projects__project__header__title {
        display: inline-block;
        max-width: 75%;
        font-size: 1.25em;
        color: #252839;
        font-weight: bold;
        vertical-align: top;
        padding-top: 1em;
        text-decoration: none;
        transition: all 0.25s; }
        .projects__project__header__title:hover {
          color: #fff; }
    .projects__project__content {
      height: 10em;
      padding: 0.375em 0.75em; }
      .projects__project__content__languages a, .projects__project__content__tags a {
        color: #fff;
        transition: all 0.25s;
        text-decoration: none;
        border-bottom: 1px dotted #fff; }
        .projects__project__content__languages a:hover, .projects__project__content__tags a:hover {
          color: #f2b632; }
    .projects__project__footer {
      height: 2.5em;
      border-top: 1px dashed #f2b632;
      padding: 0 0.75em;
      font-size: 12px; }
    @media (min-width: 780px) and (max-width: 1180px) {
      .projects__project:nth-child(2n) {
        float: right;
        margin-right: 0; } }
    @media (min-width: 780px) {
      .projects__project {
        width: 48.71795%;
        float: left;
        margin-right: 2.5641%; } }
    @media (min-width: 1180px) {
      .projects__project {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%; }
        .projects__project:nth-child(4n) {
          float: right;
          margin-right: 0; } }

table {
  width: 100%;
  color: #fff;
  overflow: auto;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em; }
  table a {
    color: #fff;
    transition: all 0.25s; }
    table a:hover {
      color: #f2b632; }
  table tr th {
    padding: 0.5em 1em; }
  table tr td {
    padding: 0.5em 1em; }
  table thead {
    text-align: left;
    color: #f2b632;
    background-color: #252839; }
  table tbody tr {
    background-color: #242424;
    border-bottom: 1px solid #f2b632; }
    table tbody tr:nth-child(2n) {
      background-color: #242424; }

.banner {
  height: 4.5em;
  background-color: #f2b632; }

.HomePage .banner {
  background-color: #f2b632;
  color: #252839;
  height: 20em;
  text-align: center; }
  .HomePage .banner__title {
    font-size: 4.5em; }
  .HomePage .banner__text {
    font-size: 3em;
    padding-top: 1.5em; }

.ContactPage .content a {
  text-decoration: none;
  color: #f2b632;
  transition: all 0.25s; }
  .ContactPage .content a:hover {
    color: #252839;
    text-decoration: underline; }

.ProjectPage .project-info {
  background-color: #252839;
  color: #f2b632;
  padding: 1em; }
  .ProjectPage .project-info__header {
    border-bottom: 2px solid #f2b632; }
  .ProjectPage .project-info a {
    color: #f2b632;
    transition: all 0.25s;
    text-decoration: none;
    border-bottom: 1px dashed #f2b632; }
    .ProjectPage .project-info a:hover {
      color: #fff; }

.ProjectHolderPage .projects__project {
  width: 100% !important; }

.more-info {
  float: right;
  padding: 0.5em;
  background-color: #f2b632;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  color: #252839; }

/*# sourceMappingURL=styles.css.map */
