.ContactPage {
	.content {
		a {
			text-decoration: none;
			color: $color-yellow;
			transition: all $transition-duration;

			&:hover {
				color: $color-blue;
				text-decoration: underline;
			}
		}
	}
}