.HomePage {
	.banner {
		background-color: $theme-banner-background;
		color: $theme-banner-color;
		height: $height-banner;
		text-align: center;

		&__title {
			font-size: rhythm(3);

		}

		&__text {
			font-size: rhythm(2);
			padding-top: rhythm(1);

		}
	}
}