﻿.ProjectPage {
    .project-info {
        background-color: $color-blue;
        color: $color-yellow;
        padding: 1em;

        &__header {
            border-bottom: 2px solid $color-yellow;
        }

        a {
            color: $color-yellow;
            transition: all $transition-duration;
            text-decoration: none;
            border-bottom: 1px dashed $color-yellow;

            &:hover {
                color: $color-white;
            }
        }
    }
			
}